@import 'src/shared/styles/base/colors';

.card__container {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 2.1776px 2.1776px rgba(0, 29, 63, 0.09),
        0px 1.0888px 5.44399px rgba(0, 29, 63, 0.1);
    background-color: $whiteColor;
    padding: 12px;

    .card__header,
    .card__content {
        margin-bottom: 22px;
    }

    .card__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card_sub_row {
        display: flex;
        align-items: center;
        gap: 66px;
    }

    .card__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;

        .card__sub__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 9px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $grayerColor;
            margin: 4px 0px;
        }

        .card__body__head {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 100%;
            display: flex;
            align-items: flex-end;
            color: $blueDark;
            margin: 4px 0px;
        }

        .card__body {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 9px;
            /* identical to box height, or 73% */
            margin: 4px 0px;
            display: flex;
            align-items: flex-end;
            /* Black/90 */
            color: $blueDark;
        }
    }
}

.right__card {
    width: 100%;
    background: $whiteColor;
    box-shadow: 0px 2.1776px 2.1776px rgba(0, 29, 63, 0.09),
        0px 1.0888px 5.44399px rgba(0, 29, 63, 0.1);
    border-radius: 6px;
    max-height: 400px;
    padding: 16px;
    overflow-y: auto;
    overflow-x: hidden;

    .chip__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        /* max-height: 20%; */
        gap: 8px;
        row-gap: 15px;
    }
}

.cardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px 5px 40px;
    border: none;
    background-color: $whiteColor;
    transition: 0.3s all linear;
    cursor: pointer;
    height: fit-content;

    &:hover {
        background-color: $whiteColor;
    }

    .order__card__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .order__card__chip {
        background-color: $darkerColor;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 33px;
        padding: 6px;
        color: $violetText;
        font-size: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
    }

    .order__card__item {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .order__card__header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 52px;
        overflow: hidden;
        box-shadow: 0px 1px 0px $tableGray;

        .order__card__id {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 100%;
            background-color: $darkerColor;
        }

        .order__card__head__side {
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px 0 10px;
        }
    }

    .order__card__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 16px;
        box-shadow: 0px 1px 0px $tableGray;
    }

    .order__card__footer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 16px;
    }
}

.card__btn {
    width: 100%;
    height: fit-content;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dee1fe;
    border-radius: 8px 0 0 8px;
    padding: 6px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    h4 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #070f3f;
        margin: 0;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        white-space: nowrap;
    }
}

.cardWrap {
    width: 100%;
    position: relative;
}

.cardBody {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.orderTableWrap {
    display: flex;
    width: 100%;
    overflow: auto;
}

.orderTable {
    width: 100%;

    td {
        width: 20%;
    }
}

.orderTableActions {
    display: flex;
    flex-wrap: 20%;
    align-items: center;
    gap: 8px;
}