@import '@styles/base/colors';

.wrapper {
    flex: 2;
}

.btn {
    color: #4455ea !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.iconAdd {
    font-size: 25px;
    margin-right: 12px;
}
