.DS_Store
.gitlab-ci_vadims.yml
node_modules
dist
.env
yarn-lock.json
yarn-error
yarn-error.log
yarn-error.json
.idea
.vscode
package-lock.json
yarn.lock
pnpm-lock.yaml
**/api
src/assets
src/images
src/views
src/app
src/layout