.timePickContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background: #fafafa;
    border-radius: 4px;
    padding: 0 12px;

    input {
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
    }
}

.timePickTitle {
    text-transform: capitalize;
    color: #475366;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
