@import '@styles/base/colors';

.container {
    background: $whiteColor;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 25px;
    cursor: pointer;
    border-bottom: 1px solid #E8EAED;

    p {
        margin: 0;
    }

    &:hover {
        background: #eff0fd;
    }
}

.selected {
    position: relative;
    background: #eff0fd;

    &::after {
        width: 4px;
        height: 100%;
        background: #606eea;
        content: '';
        position: absolute;
        right: 0;
    }
}
