.darkBlue {
    background: #4455ea;
}

.darkerBlue {
    background: #003399;
}

.green {
    background: #06c270;
}

.gray {
    background: #a4adb9;
}

.red {
    background: #ff3b3b;
}

.yellow {
    background: #ffcc00;
}

.orange {
    background: orange;
}

.darkgray {
    background: #475366;
}

.blue {
    background: #0000ff;
}

.logStatus {
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
}
