.MuiTreeItem-content {
    height: 50px;
    box-shadow: 0px 1px 0px #e8eaed;
    position: relative;
}

.monitoringTree {
    box-shadow: 0px 5px 11px #e8eaed;
}
.MuiTreeItem-iconContainer {
    order: 2;
}
