// .mui__textfield {
//     height: 40px !important;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: -1200px;
}