.status__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .status__icon {
        font-size: 8px;
    }

    .status__item {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: $whiteColor;
        background-color: $grayIcon;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status__item__success {
        background-color: $successColor;
    }
}

.user__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
