@import '@styles/base/colors';
.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
        font-size: 55px;
    }

    .logoTextWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .logoTitle {
            font-family: Josefin Sans;
            font-weight: bold;
            font-size: 32.7975px;
            line-height: 36px;
            letter-spacing: 1.45766px;
            color: $darkerBlue;
            margin: 0;
        }

        .logoSub {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 5.31977px;
            line-height: 5px;
            letter-spacing: 0.42em;
            text-transform: uppercase;
            color: $subtleThirdColor;
            margin: 0;
        }
    }
}
