$whiteColor: #ffffff;

$blackColor: #000000;
$blackLightColor: #191a1d;
$blueDark: #262626;
$darkerBlue: #070f3f;
$mainColor: #606eea;
$darkerColor: #4455ea;
$mainDarkColor: #223367;
$darkBlue: #273854;
$darkerBlue: #070f3f;
$subDarkBlue: #393b4a;
$lightColor: #7a85e3;
$subtleColor: #ced3ff;
$subtleWhiteGray: #e5e5e5;
$subtleLightFirstColor: #d0d4f9;
$subtleSecondColor: #ced3ff;
$subtleThirdColor: #b8b9e6;
$errorColor: #ff3b3b;
$warningColor: #ffcc00;
$infoColor: #0063f7;
$successColor: #06c270;
$darkGrayColor: #3a3a3c;
$grayColor: #6b7588;
$moreGrayColor: #8d96b2;
$grayerColor: #475366;
$oneMoreGray: #a8a8a8;
$graySecondColor: #9fa2b4;
$lightGrayColor: #8f90a6;
$subtleGrayColor: #c7c9d9;
$subtleLightGrayColor: #c0c0c0;
$subtleGraySecond: #b6b6bf;
$lightDarkColor: #dde5e9;
$normalLightColor: #ebebf0;
$smoothLightColor: #f5f6f8;
$subtleLightColor: #fafafc;
$tableGray: #c6cad8;
$subtleSecondLightColor: #fbfbfb;
$chipSuccess: #38e25d;
$chipGray: #c6cad8;
$grayIcon: #c7c7d2;
$yellowColor: #f2e01d;
$tableGrayColor: #f2f3f4;
$baseBtn: #a4adb9;
$violetText: #eff0fd;
$bgGray: #bdbdbd;
$grayBorder: #ededed;
$grayScroll: #adb5bd;
$scrollBack: #e0e3e7;
$grayBorder: #f2f3fa;
$grayBorder2: #c8c9ca;
