.p_5 {
    padding: 5px 6px;
}

.p_12 {
    padding: 0 12px;
}

.gap_12 {
    gap: 12px;
}

.gap_10 {
    gap: 10px;
}

.gap_25 {
    gap: 25px;
}

.gap_45 {
    gap: 45px;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}
