@import '@styles/base/colors';

.container {
    width: 100%;
    transition: 1s all linear;
}

.active {
    background-color: $subtleColor !important;

    & > svg {
        path {
            fill: $mainColor;
        }
    }
}

.activeInput {
    background: $mainColor !important;
    color: $whiteColor !important;

    &::placeholder {
        color: $whiteColor !important;
    }
}

.icon {
    width: 21px;
    height: 24px;
}

.dayPicker {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 125%;
    z-index: 100000;
    width: 344px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
        0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
        0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 0px 0px 12px 12px;
}

.input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0 8px 0 8px;
    background: transparent;
    outline: none !important;
    border: none !important;
    border-radius: 0px 4px 4px 0px;
    text-align: center;
    color: #475366;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #475366;
    }
}
