@import '@styles/base/colors';
@import '@styles/base/mixins';

@mixin btnInstance($color) {
    height: 30px;
    border-radius: 2px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    color: $color;
    gap: 7px;
}

.form {
    height: 100%;
}

.header {
    @include element($align: center);

    .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: $darkerBlue;
    }

    .exitIcon {
        width: 23px;
        height: 23px;
    }
}

.stationImg {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.element {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @include element($align: flex-start);

    .elementTitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #475366;
    }
}

.startElement {
    @include element($align: flex-start);
}

.routesElement {
    @include element($align: flex-start);
    flex-direction: column;
    gap: 12px;
}

.searchInput {
    @extend %font;
    border: none;
    margin-left: 4px;
    max-width: 165px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-weight: 300;
        color: $oneMoreGray;
    }
}

.searchIcon {
    margin-top: 2.6px;
}
