@import '@styles/base/colors';

.th {
    color: $grayerColor;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.td {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: $grayerColor;
}
